<div id="page-footer" class="container" style="padding-left: 0; padding-right: 0;">
  <div class="navbar">
    <ul class="linklist">
      <li class="icon-home">© Генеральная Прокуратура Республики Казахстан, 2016</li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
