<div class="container no-padding" ng-controller="HeaderController as vm">
  <div class="header-wrapper">
    <a class="inner-head" href="/" style="text-decoration: none;">
      <img src="modules/core/client/img/layout/site_logo.png" alt="">
      <h5 class="fg-white">Единая площадка для обсуждения и внесения предложений в НПА</h5>
    </a>
  </div>
  <div class="navbar-header bg-blue">
    <button class="navbar-toggle no-padding" type="button" ng-click="vm.isCollapsed = !vm.isCollapsed">
      <span class="sr-only bg-white">Toggle navigation</span>
      <span class="icon-bar bg-white"></span>
      <span class="icon-bar bg-white"></span>
      <span class="icon-bar bg-white"></span>
    </button>
    <a ui-sref="home" class="navbar-brand fg-white custom-link" style="height: 30px;margin-left: 10px;">ГПРК</a>
  </div>
  <nav class="navbar-collapse bg-blue" uib-collapse="!vm.isCollapsed" role="navigation">
    <ul class="nav navbar-nav bg-blue" ng-if="vm.menu.shouldRender(vm.authentication.user);" style="margin-left: 0;">
      <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);"
          ng-switch="item.type" ng-class="{ dropdown: item.type === 'dropdown' }" ui-sref-active="active"
          class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle fg-white custom-link" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span
          class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.items | orderBy: 'position'"
              ng-if="subitem.shouldRender(vm.authentication.user);">
            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title" class="fg-white custom-link"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title" class="fg-white custom-link"></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-if="vm.authentication.user" style="margin-left: 0;height: 30px; margin-right: 0;">
      <li class="dropdown" uib-dropdown style="height: 30px;">
        <a class="dropdown-toggle user-header-dropdown-toggle fg-white custom-link" uib-dropdown-toggle role="button"
           style="height: 30px;">
          <!--<img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="header-profile-image" />-->
          <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
            <a ui-sref="{{item.state}}" ng-bind="item.title" class="fg-white custom-link"></a>
          </li>
          <li>
            <a href="/api/auth/signout" target="_self" class="fg-white custom-link">Выйти</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="page_top clearfix" style="display: flex;align-items: center;justify-content: space-between;">
    <div style="padding-left: 10px; flex: .9; text-align: left">
      <h5 style="white-space: nowrap;">Рады приветствовать на портале 115.kz</h5>
    </div>
    <div id="search-box" style="flex: .1; min-width: 200px;">
      <form ng-submit="vm.search()" method="get" id="search" novalidate>
        <fieldset>
          <input ng-model="vm.searchString" name="keywords" id="keywords" type="text" maxlength="128"
                 title="Ключевые слова" class="inputbox search" placeholder="Поиск…" value="">
          <input class="button2" value="Поиск" type="submit">
        </fieldset>
      </form>
    </div>
  </div>
</div>
