<section>
  <div class="page-header">
    <h3>{{vm.article._id ? 'Редактирование статьи' : 'Новая статья'}}</h3>
  </div>
  <div class="col-md-12">
    <form name="vm.form.articleForm" class="form-horizontal" ng-submit="vm.save(vm.form.articleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="category">Раздел</label>
          <select name="category" ng-options="category for category in vm.enums.categories" ng-model="vm.article.category"></select>
        </div>
        <div class="form-group">
          <label class="control-label" for="entry">Статья</label>
          <input name="entry" data-ng-model="vm.article.entry" id="entry" class="form-control" placeholder="Введите номер статьи, например 12">
        </div>
        <div class="form-group">
          <label class="control-label" for="sub_paragraph">Подпункт(Параграф)</label>
          <input type="number" name="sub_paragraph" data-ng-model="vm.article.sub_paragraph" id="sub_paragraph" class="form-control" placeholder="Введите номер подпункта, или отсавьте пустым">
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Содержание</label>
          <textarea name="content" data-ng-model="vm.article.content" id="content" class="form-control" cols="30" rows="10" placeholder="Содержание"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="content_markdown">Содержание markdown</label>
          <div btf-markdown="vm.article.content" id="content_markdown" class=""></div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.article._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
