<section>
  <div class="page-header">
    Статьи
  </div>
  <uib-accordion close-others="true">
    <uib-accordion-group ng-repeat="category in vm.enums.categories track by $index" heading="{{category}}"
                         class="list-group">
      <uib-accordion close-others="true">
        <uib-accordion-group ng-repeat="entry in vm.categoryEntries(category) track by $index"
                             heading="{{'Статья ' + entry}}"
                             class="list-group">
          <a ng-repeat="article in vm.articles | filter: {category: category, entry: entry} | orderBy:'sub_paragraph'"
             ui-sref="articles.view({ articleId: article._id })" class="list-group-item">
            <h5>
              Параграф {{article.sub_paragraph}}
              <span class="pull-right">
                <span class="list-group-item-text">
                  <span ng-bind="article.created | date:'mediumDate'"></span>
                  <span> | </span>
                  <span ng-bind="article.last_commentator"></span>
                  <span> | </span>
                  <span>Комментарии: {{article.comments.length}}</span>
                  <span> | </span>
                  <span>Просмотры: {{article.views}}</span>
                </span>
              </span>
            </h5>
            <span class="list-group-item-heading" btf-markdown="article.content_short"></span>
          </a>
        </uib-accordion-group>
      </uib-accordion>
    </uib-accordion-group>
  </uib-accordion>
  <div class="alert alert-warning text-center" ng-if="vm.articles.$resolved && !vm.articles.length">
    К сожалению мы еще не написали статьи
  </div>
</section>
