<section>
  <div class="page-header">
    <h3>Раздел {{vm.article.category}}</h3>
    <h4>Статья {{vm.article.entry}}</h4>
    <h5>Параграф {{vm.article.sub_paragraph}}</h5>
  </div>
  <div class="pull-right" ng-show="vm.authorized">
    <a class="btn btn-primary" ui-sref="articles.edit({ articleId: vm.article._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      <span ng-bind="vm.article.created | date:'mediumDate'"></span>
      <span> | </span>
      <span ng-if="vm.article.user" ng-bind="vm.article.user.displayName"></span>
      <span ng-if="!vm.article.user">Администрация</span>
    </em>
  </small>
  <div btf-markdown="vm.article.content"></div>
  Комментарии: {{vm.article.comments.length}}
  <div class="list-group">
    <a ng-repeat="comment in vm.article.comments" class="list-group-item">
      <small class="list-group-item-text">
        <span ng-bind="comment.created | date:'mediumDate'"></span>
        <span> | </span>
        <span ng-bind="comment.name"></span>
      </small>
      <small ng-if="vm.authorized" class="pull-right btn btn-danger" ng-click="vm.removeComment(comment._id)">
        удалить
      </small>
      <p class="list-group-item-text" ng-bind="comment.content"></p>
    </a>
  </div>
  <form class="col-lg-6" name="vm.form.articleFormComment" class="form-horizontal"
        ng-submit="vm.addComment(vm.form.articleFormComment.$valid)" novalidate>
    <fieldset>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
      <div class="form-group" show-errors>
        <label class="control-label" for="name">Ваше имя</label>
        <input name="name" type="text" ng-model="vm.newComment.name" id="name" class="form-control" placeholder="Имя"
               required>
        <div ng-messages="vm.form.articleFormComment.name.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Введите ваше имя</p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="content">Сообщение</label>
        <textarea name="content" data-ng-model="vm.newComment.content" id="content" class="form-control" cols="8"
                  rows="5" placeholder="Сообщение" required></textarea>
        <div ng-messages="vm.form.articleFormComment.content.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Введите сообщение</p>
        </div>
      </div>
      <div class="form-group">
        <div vc-recaptcha key="'6LdNCSMTAAAAAJjEChmje0rz153yJzCRKmSCjNKi'" ng-model="vm.form.articleFormComment.captcha"></div>
        <div ng-messages="!vm.form.articleFormComment.captcha" role="alert">
          <p class="help-block error-text" ng-message="required">Неправильная каптча</p>
        </div>
      </div>
      <div class="form-group">
        <button ng-disabled="vm.form.articleFormComment.$invalid" type="submit" class="btn btn-default">Добавить</button>
      </div>
    </fieldset>
  </form>
</section>
