<section class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-4">
    <form class="signin form-horizontal">
      <fieldset>
        <div class="form-group text-center">
          <img ng-src="{{vm.imageURL}}" alt="{{vm.user.displayName}}" class="img-thumbnail user-profile-picture">
        </div>
        <div class="text-center form-group" ng-hide="vm.uploader.queue.length">
          <span class="btn btn-default btn-file">
              Выбрать картинку <input type="file" nv-file-select uploader="vm.uploader">
          </span>
        </div>
        <div class="text-center form-group" ng-show="vm.uploader.queue.length">
          <button class="btn btn-primary" ng-click="vm.uploadProfilePicture();">Загрузить</button>
          <button class="btn btn-default" ng-click="vm.cancelUpload();">Отмена</button>
        </div>
        <div ng-show="vm.success" class="text-center text-success">
          <strong>Фото профиля успешно сохранен</strong>
        </div>
        <div ng-show="vm.error" class="text-center text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
