<section class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">Имя</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="Имя" required>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Введите имя</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Фамилие</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="Фамилие" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Введите фамилие</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Почта</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Почта" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Введите почту</p>
            <p class="help-block error-text" ng-message="email">Неверная почта</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Имя пользователя</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.user.username" placeholder="Имя пользователя" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Введите имя пользователя</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
        <div ng-show="vm.success" class="text-center text-success">
          <strong>Профиль успешно сохранен</strong>
        </div>
        <div ng-show="vm.error" class="text-center text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
