html {
	font-size: 10px;
}
pre {
	font-size: 0.92857143rem;
}
h1 {
	font-size: 3.6rem;
}
h2 {
	font-size: 3.0rem;
}
h3 {
	font-size: 2.4rem;
}
h4 {
	font-size: 1.8rem;
}
h5 {
	font-size: 1.2rem;
}
.form-control-feedback {
	width: calc(2.28571429rem  + 2px);
	height: calc(2.28571429rem  + 2px);
}
.input-lg + .form-control-feedback {
	width: calc(3.09523805rem  + 2px);
	height: calc(3.09523805rem  + 2px);
}
.input-sm + .form-control-feedback {
	width: calc(1.98928571rem  + 2px);
	height: calc(1.98928571rem  + 2px);
}
.form-control {
	height: calc(2.28571429rem  + 2px);
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
	padding: 0.42857143rem;
	border: 1px solid transparent;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
	min-height: calc(1.85714286rem + 1px);
}
.form-horizontal .form-control-static {
	padding-top: 0.42857143rem;
	border-top: 1px solid transparent;
	padding-bottom: 0.42857143rem;
	border-bottom: 1px solid transparent;
}
@media (min-width: 768px) {
	.form-horizontal .control-label {
		padding-top: 0.42857143rem;
		border-top: 1px solid transparent;
	}
}
