body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 12px;
}

.content {
	margin-top: 113px;
}

.undecorated-link:hover {
	text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

.header-profile-image {
	opacity: 0.8;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	margin-right: 5px;
}

.open .header-profile-image,
a:hover .header-profile-image {
	opacity: 1;
}

.user-header-dropdown-toggle {
	padding-top: 11px !important;
	padding-bottom: 11px !important;
}

.user-primary-account {
	font-size: 30px;
	top: 10px;
	right: 10px;
	position: absolute;
}

.error-text {
	display: none;
}

.has-error .help-block.error-text {
	display: block;
}

.has-error .help-inline.error-text {
	display: inline;
}

.wrapper {
	box-shadow: 0 0 15px #CCCCCC;
}

.header-wrapper {
	background-image: url(/modules/core/client/img/layout/bg_header.png);
	height: 50px;
}

.bg-blue {
	border-top: 1px solid #2c6ab0;
	background-color: #0071bc;
	color: #fff;
}

.bg-white {
	background-color: #fff;
}

.fg-white, .fg-white:hover, .fg-white:active, .fg-white:focus {
	color: #fff;
}

.fg-grey {
	color: #808080;
}

.no-padding {
	padding: 0 !important;
}

.dropdown-menu > li > a {
	color: #fff;
	background: #0071bc;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background: #337ab7;
	color: #fff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav > li > a:hover, .nav > li > a:focus {
	background: #337ab7;
	color: #fff;
}

.custom-link {
	padding: 5px 5px !important;
}

.inner-head {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 10px;
}

.inner-head img {
	height: 50px;
}

.inner-head h4 {
	margin-left: 30px;
}

#page-footer {
	background: url(/modules/core/client/img/layout/pat-n.png) repeat-x left top;
	padding-top: 13px;
}

#page-footer .navbar {
	padding: 20px;
	background-color: #0071bc;
	color: white;
	font-weight: 300;
}

.page_top {
	background: #fff;
	text-align: right;
}

#search-box {
	color: #FFFFFF;
	position: relative;
	margin: 0px 0px 0px 10px;
	border: 1px solid #ccc;
	width: 200px;
	padding: 2px 0 2px 5px;
	display: block;
	float: right;
	text-align: right;
	white-space: nowrap;
}

#search-box #keywords {
	background-color: #FFF;
	width: 170px;
	float: left;
}

#search-box input, #search-box input:hover {
	border: none;
}

.inputbox:hover {
	border-color: #11A3EA;
}

.inputbox {
	background-color: #FFFFFF;
	border-color: #B4BAC0;
	color: #333333;
}

.inputbox {
	background-color: #FFFFFF;
	border: 1px solid #c0c0c0;
	color: #333333;
	padding: 2px;
	cursor: text;
}

#search-box .button2 {
	background: url(/modules/core/client/img/layout/icon_search.png) #fff;
	border: none;
}

#search-box .button2 {
	display: block;
	height: 18px;
	width: 18px;
	font-size: 0;
	line-height: 0;
	text-indent: -999px;
	margin-top: 2px;
}
